<h4>Tabla de amortizacion de prestamos</h4>
<br>
<div class="cont">
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th scope="col">Periodo</th>
        <th scope="col">Cuota</th>
        <th scope="col">Interes</th>
        <th scope="col">Capital</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      
      
      
      
    </tbody>
  </table>
</div>

